<!doctype html>
<html>
<head>

<link rel="stylesheet" href="Admin.css">
 
<title>Admin</title>

</head>

<body>

<ul>
  <li><a href="default.net">Home</a></li>
  <li style="padding-left:30px;"><a href="messages.net">Messages</a></li>
  <li style="padding-left:30px;"><a href="profile.net">Profile</a></li>
  <li style="float:right"><a href="logout.net">Logout</a></li>
</ul>

<br/>
<br/>

<div style="padding-left:80px;">
<input id="submit" type="submit" value="Add User" style="text-align:center;">
</div>

<br/>
<br/>

<input style="margin-left:80px;" type="text" name="search" placeholder="Search..">

<div class="boxes">

<div class="newBox">
<header>Recently Added Teachers</header>
</div>

<div class="appBox">
<header>Recently Added Students</header>
</div>

</div>

<div style="text-align:center;">
<p id="demo"></p>
<script>
document.getElementById("demo").innerHTML = Date();
</script>
</div>

</body>

</html>
