<!doctype html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>

<body>

<ul>
 <li><a href="default.net">Home</a></li>
 <li style="padding-left:30px;"><a href="messages.net">Messages</a></li>
 <li style="padding-left:30px;"><a href="profile.net">Profile</a></li>
 <li style="float:right"><a href="logout.net">Logout</a></li>
</ul>

<br/>
<br/>
<br/>
<br/>

<div class="boxes">

<div class="newBox">
<header>Newest Students</header>
</div>

<div class="newBox">
<header>Approved Faculty</header>
</div>


<div style="text-align:center;">
<p id="demo"></p>
<script>
document.getElementById("demo").innerHTML = Date();
</script>
</div>

</body>

</html>
