<% if (successMessage.length > 0) { %>
    <div class="alert alert-success"><%= successMessage %></div>
<% } %>
<% if (failureMessage.length > 0) { %>
    <div class="alert alert-danger"><%= failureMessage %></div>
<% } %>