        <% if (user.role=='user') { %>
        <div class="page-header text-center">
    <a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
    <a href="/applications" class="btn btn-default btn-sm">Submitted Applications</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
        <% } else { %>
        <div class="page-header text-center">
    <a href="/dashboard" class="btn btn-default btn-sm">Dashboard</a>
    <a href="/applications" class="btn btn-default btn-sm">Submitted Applications</a>
    <a href="/addsite" class="btn btn-default btn-sm">Add Site</a>
    <a href="/promote" class="btn btn-default btn-sm">Promote User</a>
    <a href="/sites" class="btn btn-default btn-sm">View Sites</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>
        <% } %>