<!-- LOCAL INFORMATION -->
<div class="col-sm-6">
    <div class="well">
        <h3>Applications Available</h3>

        <p>
            BIO Internship Application: <a href="bio">Biology </a> <br> ITEC Internship Application: <a href="/itec">ITEC</a>

        </p>

    </div>
</div>