<!-- LOCAL INFORMATION -->
<div class="col-sm-6">
        <h1>Welcome! <%= user.fname %></h1>


            <h3>You can apply for an internship <a href="/<%= user.discipline %>">HERE</a></h3>


    </div>