body {
      background-image: url("../images/ggc.jpg")
}

.container{
    background-color: #78AB46;
}

.scrollable {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}