<html>
<head>
    <title>Add Site</title>
<% include partials/headerimports %>
</head>
<body>

<% include partials/nav.ejs %>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
    
<h1>Add Site</h1>
    
    <!-- show any messages that come back with authentication -->
    <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= messages %></div>
    <% } %>
    <!-- LOGIN FORM -->
    <form name="signup" action="/addsite" onsubmit="return validateForm()" method="post">
        <div class="form-group">
            <label>Site Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" name="address" required>
        </div>
        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city" pattern ="[A-Za-z._]*" title="Must not contain numbers" required>
        </div>
        <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" name="state" pattern ="[A-Z]{2}" title="Invalid format ex: GA" required>
        </div>
        <div class="form-group">
            <label>ZipCode</label>
            <input type="text" class="form-control" name="zipcode" pattern ="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" required>
        </div>
        <div class="form-group">
            <label>MOU on file?</label>
            <input type="text" class="form-control" name="mou" required>
        </div>
        <div class="form-group">
            <label>If yes when does it expire?</label>
            <input type="text" class="form-control" name="mouexpiration" required>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Add Site</button>
    </form>
</div>

</div>
</div>
<% include partials/footerimports %>
</body>
</html>
