<!-- views/admininstructorhelp.ejs -->
<!doctype html>
<html>
   <head>
      <title>Admin / Instructor Video Guides</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div align="center" class="container help">
         <h2>Admin / Instructor Video Guides</h2>
         </br>
         <hr/>
         <!-- Sign Up Process -->
         <div align="center">
            <h4>How do I signup?</h4>
            <p class="text-sm-left">Learn how to signup for GGC InternApp the application by watching this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MhLRO9weCeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <hr/>
         <div align="center">
            <h4>How To Promote Your Account To Admin / Instructor</h4>
            <p class="text-sm-left">Learn how to promote your account to an Admin / Instructor by watching this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xsLbLy9W4XY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <div align="center">
            <h4>What is the Admin / Instructor Home?</h4>
            <p class="text-sm-left">Learn what the Admin / Instructor home page's purpose is by watching this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mamNzPE-ego" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <hr/>
         <div align="center">
            <h4>What can you do with the submitted applications?</h4>
            <p class="text-sm-left">Learn what you can do with the submitted applications by watching this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1_ZZIfvlhss" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <hr/>
         <div align="center">
            <h4>What can you do the company sites?</h4>
            <p class="text-sm-left">Learn what you can do with the company sites by watching this video!</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3UMzh-Z07c8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
         <hr/>
         <h4>See the <a target="_blank" href="/faq">FAQ page</a> for additional help</h4>
         </br>
         </br>
      </div>
      <% include partials/footerimports %>
   </body>
</html>