<html>
  <head>
    <title>Application details</title>
<% include partials/headerimports %>
</head>
    <body>
<% include partials/nav.ejs %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
  <h2>Application Information</h2>
  </div>
      <% if (application.userdiscipline == 'itec') { %>
      <% include partials/itecapp.ejs %>
      <% } else { %>
      <% include partials/bioapp.ejs %>
      <% } %>

</div>
      <% include partials/footerimports %>
    </body>


</html>
