<html>
  <head>
    <title>Application details</title>
<% include partials/headerimports %>
</head>
    <body>
<% include partials/nav.ejs %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
  <h2>Application Information</h2>
  </div>
      <% if (application.userdiscipline == 'itec') { %>
      <% include partials/itecapp.ejs %>
      <% } else { %>
      <% include partials/bioapp.ejs %>
      <% } %>


      <% if (user.role=='admin' || user.role=='instructor') { %>
      <div class="col-sm-6 col-sm-offset-3">
      <h3>Change Application Status</h3>
    <form name="applicationstatus" method="post">
        <div class="form-group">
          <label>Application Status</label>
          <select class="form-control" name="applicationstatus">
          <option value="" >Select a status</option>
          <option value="approved" >Complete</option>
          <option value="denied">Incomplete</option>
          <option value="further review">Further Review</option>
          <option value="applicant rescinded" >Applicant Rescinded</option>
          <option value="applicant postponed">Applicant Postponed</option>
          <option value="site declined">Site Declined</option>
      </select>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Change Status</button>
    </form>
    </div>
    <% } %>
</div>
      <% include partials/footerimports %>
    </body>


</html>
