<!-- views/itec.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>GGC Biology Internship Application</title>
    <% include partials/headerimports %>
</head>

<body>
<% include partials/nav.ejs %>

<div class="container">
    <div class="col-sm-10 col-sm-offset-1">
    <br>

    <h1 align="center">Biology Intership application</h1>
        <h4 align="center">Submit a typed, completed and signed form with an 
        attached, printed copy of your unofficial academic transcript 
        (obtained from Banner) to the SST Office in the Allied Health 
        and Sciences (H2) Building, Room 3209.<br><br>

        <strong>IMPORTANT:</strong> Please attach all required supplemental materials 
        to complete the application packet. Information will be used to determine 
        if you will be accepted to participate in program. Incomplete application packets
        <br>

        Information will be used to determine if you will be accepted to 
        participate in the internship program. Completion of this application 
        does not guarantee your acceptance into the internship program and/or 
        enrollment in bio 4900.</h4>
        <br>

<form name="bio" action="/bio" method="post" class="form-horizontal" _lpchecked="1">
    <fieldset>
    <h2 align = "center">Student Academic Information</h2>

    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Major and Concentration</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Expected Graduation Date</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Overall GPA</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Program GPA</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Number of Hours completed within Biology</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">What is your intended profession/career?</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    <br>

    <h3 align="center">
    Emergency Contact Information
    </h3>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Name of Parent or Legal Guardian</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mailing address</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact City</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact State</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact Zip Code</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Preferred Email Address</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>
    <br>

    <h3 align="center">
    Mentor Information
    </h3>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Name</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Cell Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Office Location</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Mentor Email</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>
    <br>

    <h3 align="center">
    Internship Information
    </h3>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Are you applying to an Internship Site previously approved by Internship committee?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Internship Site
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option value="Other" >Other</option>
          <option value="Greening Youth Foundation">Greening Youth Foundation</option>
          <option value="Good Samaritan Health Center of Gwinnett" >Good Samaritan Health Center of Gwinnett</option>
          <option value="Yerkes Regional Primate Research Center">Yerkes Regional Primate Research Center</option>
          <option value="US Department of Agriculture, Food Safety Inspection Services" >US Department of Agriculture, Food Safety Inspection Services</option>
          <option value="Consultorio Medico Hispano">Consultorio Medico Hispano</option>
        </select>
        </div>
      </div>
    </div>

    <h3 align="center">If your internship site is not listed above, then please select "Other" and provide the proposed information for review.<br>
       <br>
        <strong>Note:</strong>  It is conflict of interest if you have a close personal or family relationship with a proposed preceptor 
        and/or site manager/supervisor. Providing false information about connections between you and site staff would constitute a violation
         of the GGC Honor Code (see policy on academic honesty).</h3>
         <br>

         <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Name of Site</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Specialty (pharmacy, medical practice, etc):</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Site Street Address</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Site City</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Site State</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Site Zip Code</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Site Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Internship Manager</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Manager Email</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Title of Site Manager</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    <br>

    <h3 align="center">
    Proposed Preceptor Information
    </h3>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Name of Proposed Preceptor</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Preceptor Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Preceptor Email Address</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Is this person a Manager?</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Position of Proposed Preceptor</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    <br>

    <h3 align="center">
    Potential Student Employment Conflicts
    </h3>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Are you currently employed at this site?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">What is your current position?</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Is this a paid position?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">What is your current average work hours in a week?</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Are you willing to complete your internship hours at a seperate time from your normal work hours?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Do you have personal or family relationship with anyone employed at this potential internship site?</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <h4 align="center">
        If you plan on applying for more than one “Build Your Own” site, feel free to copy and paste the Proposed Site Information Section above of this application and complete. 
        For each site, you would need a proposed mentor to complete the Preceptor Application (also on myGGC SST Internship Pages).
    </h4>
    <br>

    <h3 align="center">
        Education Component
    </h3>

    <h4 align="center">
        List 3 major educational objectives that you wish to achieve at the hosting facility. Educational objectives pertain to what you want to learn on-site.
    </h4>

    <h5 align="center">
        For example: 
        <div align ="left">
        <ul>
            <li>Effectively use problem solving techniques within the hospital environment and specific training area</li>
            <li>Be able to analyze data and interpret results including, but not limited to blood tests, EKGs, X-rays, scans, and patient charts.</li>
        </ul>
        </div>
    </h5>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">First</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Second</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>

    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Third</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    <br>

    <h3 align="center">
    Signature and Review
    </h3>
    <h4 align="center">
    I certify that the information contained in this application is true, correct, and complete. 
    I understand that, if employed, false statements reported on this application may be considered 
    sufficient cause for denial of a Biology Internship Experience and enrollment in the BIOL4800 Biology 
    Internship course.
    </h4>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Signature of applicant</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Print name of applicant</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
  </fieldset>
  <button class="btn btn-success" type="submit" id="submitBtn" align="center">Submit</button>
</form>
</body>
</html>