<!doctype html>
<html>
<head>
    <title>GGC Biology Internship Application</title>
    <link href=
    "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel=
    "stylesheet"><!-- load bootstrap css -->
    <link href=
    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    rel="stylesheet"><!-- load fontawesome -->

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><u>Biology Intership application</u></h1>
            <h4><strong> Submit a typed, completed and signed form with an attached, printed copy of your unofficial academic transcript (obtained from Banner) to the SST Office in the Allied Health and Sciences (H2) Building, Room 3209. </strong><br>
            <br>
            <strong>IMPORTANT:</strong> Please attach all required supplemental materials to complete the application packet. Information will be used to determine if you will be accepted to participate in program.  Incomplete application packets will not be reviewed.<br>
            <br>
            <br>
            Information will be used to determine if you will be accepted to
            participate in the internship program. Completion of this
            application does not guarantee your acceptance into the internship
            program and/or enrollment in bio 4900.</h4>

                <h3><label>Emergency Contact Information</label></h3>
                <div class="form-group">
                    <label><label>Name of Parent or Legal Guardian</label> <input class=
                    "form-control" name="biocontact" required="" type=
                    "text"></label>
                </div>
                <div class="form-group">
                    <label>Mailing address</label> <input class="form-control"
                    name="biocontactaddress" required="" type="text">
                </div>
                <div class="form-group">
                    <label>Preferred Email Address</label> <input class=
                    "form-control" name="biocontactemail" required="" type=
                    "text">
                </div>
                <div class="form-group">
                    <label>Contacts City</label> <input class="form-control" name=
                    "biocontactcity" required="" type="text">
                </div>

                <div class="form-group">
                    <label><label>Contacts Zip Code</label> <input class="form-control"
                    name="biocontactzip" required="" type="text"></label>
                </div>
                <div class="form-group">
                    <label>Contacts Telephone Number</label> <input class="form-control"
                    name="biocontactphone" required="" type="text">
                </div>
<h2>Mentor Information</h2>
<div class="form-group">
    <label>GGC Mentor Name</label> <input class="form-control"
    name="biomentorname" required="" type="text">
</div>
<div class="form-group">
    <label>GGC Cellphone number</label> <input class="form-control"
    name="bioggccellphone" required="" type="text">
</div>
<div class="form-group">
    <label>GGC Email Address</label> <input class="form-control"
    name="biomentoremail" required="" type="text">
</div>
<div class="form-group">
    <label>GGC Office Location</label> <input class="form-control"
    name="biomentoroffice" required="" type="text">
</div>

<h2>Student Academic Information</h2>
<div class="form-group">
    <label>Number of Hours completed within Biology</label> <input class="form-control"
    name="biohours" required="" type="text">
</div>
<div class="form-group">
    <label>Major and Concentration</label> <input class="form-control"
    name="biomajor" required="" type="text">
</div>
<div class="form-group">
    <label>Overall GPA</label> <input class="form-control"
    name="biomgpa" required="" type="text">
</div>
<div class="form-group">
    <label>Program GPA</label> <input class="form-control"
    name="bioprogramgpa" required="" type="text">
</div>
<div class="form-group">
    <label>What is your intended profession/career?</label> <input class="form-control"
    name="biocareer" required="" type="text">
</div>

  <div class="form-group">
<label>Proposed Internship Semester <select>
    <option value="proposedfall">
        Fall
    <option value="proposedspring">
        Spring
    </option>
    <option value="proposedsummer">
        Summer
    </option>
  </select> </label></label>
</div><label></label>

<div class="form-group">
    <label>Proposed Internship Semester Year
      <select><option value="bioproposedsem1"><%= new Date().getFullYear() %></option>
      <option value="bioproposedsem2"><%= new Date().getFullYear()+1 %></option></select>
    </label>
    </div><label></label>

    <div class="form-group">
      <h3><strong>Internship Information</strong> </h3>
  <label>Are you applying to an Internship Site previously approved by Internship committee?
    <input type="checkbox" name="yes" value="bioyes" checked>Yes
    <input type="checkbox" name="yes" value="biono">No<br/>
    <br>
    <h3><strong> If yes, please mark which one and then complete the additional form for the specific location:</strong></h3>
    <input type="checkbox" name="gyf" value="biogyf" checked>Greening Youth Foundation (Supplemental Application Required)<br/>
    <input type="checkbox" name="gshcg" value="biogshcg">Good Samaritan Health Center of Gwinnett (Interview Required)<br/>
	   <input type="checkbox" name="cmd" value="biocmd">Consultorio Medico Hispano (Interview Required)<br/>
     <input type="checkbox" name="yrprc" value="bioyrprc">Yerkes Regional Primate Research Center(Supplemental Application Required and Interview Required) <br/>
     <input type="checkbox" name="usda" value="biousda">US Department of Agriculture, Food Safety Inspection Services (must complete their application process)<br/>
     <h3>If your internship site is not listed above, then please provide the proposed information for review.<br>
       <br>
<strong>Note:</strong>  It is conflict of interest if you have a close personal or family relationship with a proposed preceptor and/or site manager/supervisor.  Providing false information about connections between you and site staff would constitute a violation of the GGC Honor Code (see policy on academic honesty).</h3>
   </label></label>
  </div><label></label>

  <div class="form-group">
    <h3> Proposed Site Information</h3>

      <label><label>Name of Site</label> <input class=
      "form-control" name="biosite" type="text"></label>
  </div>
  <div class="form-group">
      <label>Specialty (pharmacy, medical practice, etc):
      </label> <input class="form-control" name="biofocus"
      type="text">
  </div>
  <div class="form-group">
      <label>Sites Street Address</label> <input class="form-control" name=
      "biositeaddress" type="text">
  </div>
  <div class="form-group">
      <label>Sites City</label> <input class="form-control" name=
      "sitebiocity" type="text">
  </div>

  <div class="form-group">
      <label>Name of Site Manager</label> <input class="form-control" name=
      "biositemanager" type="text">
  </div>

  <div class="form-group">
      <label>Site Email Address</label> <input class="form-control" name=
      "biositeemail" type="text">
  </div>

  <div class="form-group">
      <label>Title of Site Manager</label> <input class="form-control" name=
      "biositemanagertitle" type="text">
  </div>

  <h2>Proposed Preceptor Information</h2>
  <div class="form-group">
      <label>Name of proposed preceptor</label> <input class="form-control"
      name="namepreceptor" required="" type="text">
  </div>
  <div class="form-group">
      <label>Preceptor phone number</label> <input class="form-control"
      name="preceptorphone" required="" type="text">
  </div>
  <div class="form-group">
      <label>Preceptor email address</label> <input class="form-control"
      name="preceptoremail" required="" type="text">
  </div>

  <div class="form-group">
<label for="major">Is this person the manager?</label>
<select class="form-control" id="biomanager" name="biointernmanager">
  <option value="yes">Yes</option>
  <option value="no">No</option>
  </select>
  </div>

  <div class="form-group">
      <label>If no, what position does the proposed preceptor hold at the site?</label> <input class="form-control"
      name="preceptorpostition" required="" type="text">

<h3> Potential Student Conflicts</h3>
      <div class="form-group">
          <label><label>What is your current postition?</label>
          <input class="form-control" name="bioorgposition" type=
          "text"></label>
      </div>
      <div class="form-group">

<label for="biopaidposition">Is this a paid position?</label>
<select class="form-control" id="biopaidposition" name="paidinternship">
  <option value="yes">Yes</option>
  <option value="no">No</option>
  </select>
  </div>
      <div class="form-group">
          <label><label>What is your current postition?</label>
          <input class="form-control" name="bioorgposition" type=
          "text"></label>
      </div>
      <div class="form-group">
          <label>What is your current average work hours in a
          week?</label> <input class="form-control" name="bioorghours"
          type="text">
      </div>

      <div class="form-group">

<label for="internquestion">Are you willing to complete your internship hours at a seperate time from your normal work hours?</label>
<select class="form-control" id="internquestion" name="internquestionanswer">
 <option value="yes">Yes</option>
 <option value="no">No</option>
 </select>
 </div>

      <h3>If you plan on applying for more than one “Build Your Own” site, feel free to copy and paste the Proposed Site Information Section above of this application and complete.  For each site, you would need a proposed mentor to complete the Preceptor Application (also on myGGC SST Internship Pages).</h3>
<h3> Education Component</h3>
<h4>List 3 major educational objectives that you wish to achieve at the hosting facility.  Educational objectives pertain to what you want to learn on-site.</h4>

For example: <br>
<ul>
<li>Effectively use problem solving techniques within the hospital environment and specific training area</li>
<li>Be able to analyze data and interpret results including, but not limited to blood tests, EKGs, X-rays, scans, and patient charts.</li>
</ul>

<div class="form-group">
    <label>First</label> <input class="form-control"
    name="educomp1" required="" type="text">
</div>
<div class="form-group">
    <label>Second</label> <input class="form-control"
    name="educomp2" required="" type="text">
</div>
<div class="form-group">
    <label>Third</label> <input class="form-control"
    name="educomp3" required="" type="text">
</div>

<h3> Internship Description</h3>
<div class="form-group">
    <label>Describe how the internship experience at the proposed location will help you to achieve your career goals.
      <form action="action_page.php">
          <textarea cols="34" name="internessay" rows="8"></textarea><br>
      </form>
</div>

<h4><label>Signatures and Review</label></h4>
<p><label><strong>I certify that the information contained in this application is true, correct, and complete.  I understand that, if employed, false statements reported on this application may be considered sufficient cause for denial of a Biology Internship Experience and enrollment in the BIOL4800 Biology Internship course.
</strong></label></p><label><br></label>
<div class="form-group">
    <label><label>Signature of applicant</label> <input class=
    "form-control" name="biosignature" type="text"></label>
</div>
<div class="form-group">
    <label>Print name of applicant</label> <input class=
    "form-control" name="biosignatureprint" required="" type=
    "text">
</div>

<div class="form-group">
    <label>Date</label>
    <p id="demo"></p>
    <script>
    document.getElementById("demo").innerHTML = Date();
    </script>

<form action="bio_form.esj">
</div><button class="btn btn-warning btn-lg" type=
"submit">Submit</button>

<!-- Script for printing page at bottom -->
 <button class="btn btn-warning btn-lg" onclick="myPrint()">Print
this page</button>
<script>
function myPrint() {
window.print();
}
</script>

</div>
</div>
</body>
</html>
