<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Welcome to your dashboard <%= user.local.fname %></h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3>Submitted Applications</h3>

                    <p>
                        <a href='#dummy'>Autotrader Internship</a><br>
                        <a href='#dummy'>Sage Internship</a><br>
                    </p>

            </div>
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3>Applications Available</h3>

                    <p>
                        BIO Internship Application: <a href="bio">Biology </a> <br>
                        ITEC Internship Application: <a href="/itec">ITEC</a>

                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
