<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>GGC Internship Signup</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
  <div class="container">
  <h2>Dashboard</h2>
     <h1>Welcome! <%= user.fname %></h1>
     <% if (haveBioApp)  { %>
        <a href="/editbio/<%= user._id %>" button type="submit" class="btn btn-success">Edit BIO Application</button></a>
     <% } %>
     <% if (haveItecApp)  { %>
        <a href="/edititec/<%= user._id %>" button type="submit" class="btn btn-success">Edit ITEC Application</button></a>
     <% } %>



</div>

</div>
<% include partials/footerimports %>
</body>
</html>
