<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Dashboard</title>
    <% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">

    <div class="row">

        <% if (user.role=='user') { %>
        <% include partials/userdashboard %>
        <% } else if (user.role=='admin') { %>
        <% include partials/admindashboard %>
        <% } else { %>
        <% include partials/instructordashboard %>
        <% } %>
        

    </div>

</div>
<% include partials/footerimports %>
</body>
</html>
