    <!doctype html>
<html>
<head>
    <title>Documentation</title>
<% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>
     <div class="container">
     <h2>Site Details</h2>
     
<form name="applicationstatus" method="post" align="center">
    <div class="form-group">
        <h2>Major</h2>
        <select id="major">
            <option>Choose Major</option>
            <option value="bio">Bio</option>
            <option value="itec">Itec</option>
        </select>
    </div>
    <br>
    <div class="bio box">
        <button type="submit" class="btn btn-warning">Essay</button>
        <button type="submit" class="btn btn-warning">Transcript</button>
        <br><br><br>
    </div>
    <div class="itec box">
        <button type="submit" class="btn btn-warning">Resume</button>
        <br><br><br>
    </div>
</form>
     
<div style="float:right;" class="col-sm-3.5 col-sm-offset-3">
    <form method="post">
        <table class="table table-bordered" id="applications">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Date</th>
                    <th>Section</th>
                    <th>Document Name</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>    
        </table>

        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-group">
                <h3>Add Note</h3>
                <br>
                <textarea rows="4" cols="50" name="note"></textarea>
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Add Note</button>
        </div>
    </form>
</div>
    
</div> 
<% include partials/footerimports %>
      <link rel="stylesheet" type="text/css" href="/stylesheet/datatables.css">
 
        <script type="text/javascript" charset="utf8" src="/javascript/datatables.js"></script>
              <script type="text/javascript">
        $(document).ready(function(){
    $('#applications').DataTable();
    
});
$(document).ready(function(){
    $("#major").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
        </script>
    </body>
        </html>
