    <!doctype html>
<html>
<style type="text/css">
    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
</style>
<head>
    <title>Documentation</title>
<% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>
     <div class="container">
     <h2>Site Details</h2>

 <table class="table table-bordered" id="applications">
  <div style="float:right;" class="col-sm-3.5 col-sm-offset-3">
    <form name="applicationstatus" method="post">
        <div class="form-group">
          <label>Major</label>
          <select id="major">
            <option>Choose Major</option>
            <option value="bio">Bio</option>
            <option value="itec">Itec</option>
        </select>
        </div>
        <div>
    <div class="bio box"><button>test</button><br/>
        <button>test1</button>
    </div>
    <div class="itec box">
        <button>test3</button>
    </div>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Date</th>
        <th>Section</th>
        <th>Document Name</th>
        <th>Type</th>
        <th>Status</th>
</tr>
    </thead>

    <tbody>
        </tbody>
        
  </table>

      <div class="col-sm-6 col-sm-offset-3">
           <div class="form-group">
          <h3>Add Note</h3>
          <br>
      <textarea rows="4" cols="50" name="note">
      </textarea>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Add Note</button>
    </form>
    </div>
    
         </select>
    </div>
    
</div> 
<% include partials/footerimports %>
      <link rel="stylesheet" type="text/css" href="/stylesheet/datatables.css">
 
        <script type="text/javascript" charset="utf8" src="/javascript/datatables.js"></script>
              <script type="text/javascript">
        $(document).ready(function(){
    $('#applications').DataTable();
    
});
$(document).ready(function(){
    $("#major").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
        </script>
    </body>
        </html>
