<!-- views/faq.ejs -->
<!doctype html>
<html>
<head>
    <title>FAQ</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>


<div class="container">
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <dl id="faqList">
    <dt>What is the purpose of this site?</dt>
      <dd>This site is designed to centralize the application process for the Information Technology (ITEC 4900) and Biology
      (BIOL 4800) internship programs. The site allows for students to apply to the programs and for the internship program coordinators
      to view, download, archive, the applications. To learn more about the internship programs themselves, please click the following links:</br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <a target="_blank" href="http://www.ggc.edu/academics/schools/school-of-science-and-technology/internships/index.html">More Information about the Information Technology (ITEC 4900) & Biology (BIOL 4800) programs</a> </br>
      </dd>
    <dt>How do I apply to a program?</dt>
      <dd>To apply, you must first <a target="_blank" href="/signup">sign up</a>, and then <a target="_blank" href="/login">login</a>. After logging in you will be presented will an option to apply
      for your desired program. After completing the application and clicking submit you have successfully "applied" to a program. If you still need help applying, the <a target="_blank" href="/help">video guides</a>
      may be useful. 
      </dd>
    <dt>How do I reset my password?</dt>
      <dd>If you've forgot your password, no worries! Just visit the <a target="_blank" href="/forgot">forgot password </a> page, enter your email, and your password reset email 
      awaits (please give the email a few minutes to arrive).</dd>
    <dt>Can I edit my application?</dt>
    <dd>Yes! On the student homepage, once you have submitted your application, just click on the edit button. Here you can change everything from your initial application
       from the phone number, proposed internship year, GPA, and more.</dd>
    <dt>I submitted an application, did I get an internship?</dt>
      <dd>Submitting your application does not guarantee an internship. Please contact your program's coordinator for further
      information regarding the internships for your specific program.</dd>   
    <dt>I submitted my application, what happens next?</dt>
      <dd>After applying to a program, please upload the required documents for the program. See the checklist on your home
      page, and the question marks on your home page for more information.</dd>   
    <dt>I still have questions about the website. Who can I contact?</dt>
      <dd>Please contact your program's coordinator for more questions. </br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Information Technology Internship (ITEC 4900) Coordinator - <a target="_blank" href="http://www.ggc.edu/about-ggc/directory/lissa-pollacia">Dr. Lissa Pollacia</a> </br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Biology Internship (BIOL 4800) Coordinator - <a target="_blank" href="http://www.ggc.edu/about-ggc/directory/latanya-hammonds-odie">Dr. Latanya P. Hammonds - Odie </a>
      </dd>   
  </dl>
</div>

<% include partials/footerimports %>
</body>
</html>
