<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>FAQ</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">


</div>

</div>
<% include partials/footerimports %>
</body>
</html>
