<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>FAQ</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">


</div>


<h2>Frequently Asked Questions</h2>
<br> </br>
<h4> What is the purpose of this website?<h4>
  <p><ul><li>The purpose of this website is to submit, edit, and view internship applications for the School of Biology and The School of Information Technology at Georgia Gwinnett College. Many more diciplines will be available on a later date.</li></p></ul>
<br></br>
<h4> How do I access the website and its tools?<h4>
  <p><ul><li>To access the internship application website, you first must <a href="/login">Login</a> into the website with your GGC email and password. If you do not have an account already made, click <a href="/signup">here</a> to sign up. When you enter the page, fill out the information that is required and when completed, click "sign up." Once done, you should now have an account with the GGC internship application website.</li></p></ul>
<br></br>
<h4> I forgot my password and need to reset it.<h4>
  <p><ul><li>Click <a href="/forgot">Here</a> and enter your email. Once your email is submitted you should get a link shortly to reset your password.</li></p></ul>
  <br> </br>
  <h4> What do I do once I login?<h4>
    <p><ul><li>Once you login, you will be directed to your main dashboard page. This page gives you the option to submit an application by clicking on the "HERE" text, as well as viewing all applications submitted by the account as well as editing your profile information. Note that if you are an ITEC major, you will only have access to the ITEC applications. If you are a BIO major you will only be able to view the BIO applications. </li></p></ul>
    <br></br>
    <h4> I submitted an application, did I get an internship?<h4>
      <p><ul><li>After you submit an application, it is saved in the Internship website, where faculty members of that dicipline can view your application. From there they will either approve or deny your application based on your submission and eligibility</li></p></ul>
      <br></br>
      <h4> I still have questions about the website. Who can I contact?<h4>
        <p><ul><li>You can contact either Jonathan Nguyen at Jnguyen7@ggc.edu or Joseph Cox at jcox2@ggc.edu for any questions regarding the functionality of the website. For enquiries about submitted applications, please contact your head professor in your school of dicipline. You can find faculty members with <a href="http://www.ggc.edu/about-ggc/directory/">this directory.</a> </li></p></ul>
</div>
<% include partials/footerimports %>
</body>
</html>
