<!-- views/faq.ejs -->
<!doctype html>
<html>
<head>
    <title>Help</title>

<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">
 <h2>Help</h2>
  </br>
  </br>
  
  <hr/>

  <!-- Sign Up Process -->
   <div align="center">
  <h4>How Fo Sign Up</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Sign Up</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/kUIsPtdKB_A" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- Applicaton Process Video For Informaton Technology -->
  <div align="center">
  <h4>How To Apply For Information Technology Internship</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Apply For Information Technology Internship</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/veq6K9y6wSM" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- Applicaton Process Video For Biology  -->
   <div align="center">
  <h4>How To Apply For Biology Internship</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Apply For Biology Internship</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/N5wZID5tE-Q" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- Feature Edit Profile  -->
   <div align="center">
  <h4>How To Edit My Profile</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Edit Your Profile</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/fRfMWpGKJMw" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- Biology Upload Process -->
   <div align="center">
  <h4>How To Upload Files Needed For Biology</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly To Upload All Files Necessary For Application</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/Gxl2JjnjMC8" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- ITEC Upload Process -->
   <div align="center">
  <h4>How To Upload Files Needed For Information Technology</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly To Upload All Files Necessary For Application</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/veq6K9y6wSM" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

 <!-- Edit Application -->
   <div align="center">
  <h4>How To Edit My Application</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly To Edit My Application</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/9ZMPleT8vIg" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

    <div align="center">
  <h4>How To Sign Up For Administrator/Instructor</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Sign Up For Administrator/Instructor</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/nVODllJJ0H8" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>


  <div align="center">
  <h4>How To Utilize Home Page</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Uitlize Home Page</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/mBAx97yGvZQ" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <div align="center">
  <h4>How To Uitlize Application Details</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Uitlize Aplications And Interact With Users</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/CeOeVvvp56E" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

   <div align="center">
  <h4>How To Uitlize Export Feature</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Uitlize Export Page And Features</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/8INXmtexlkU" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <h4>Please Check Out Frequenly Asked Questions By Clicking <a href="/faq">HERE</a> If The Video Was Not Helpful.</h4> 
  </br>
  </br>

</div>

<% include partials/footerimports %>
</body>
</html>


