<!-- views/help.ejs -->
<!doctype html>
<html>
<head>
    <title>Student Video Guides</title>

<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container help">
 <h2 align="center">Student Video Guides</h2>
  </br>

  
  <hr/>

  <!-- Sign Up Process -->
         <div align="center">
            <h4>How do I signup?</h4>
            <p class="text-sm-left">Learn how to signup for the application by watching this video!</p>
            <iframe src="https://drive.google.com/file/d/1SVZhwA71_9kyYzx0ohFd1l2Y-y-FvjTe/preview" width="640" height="480" allowfullscreen></iframe>
         </div>

  <hr/>

  <!-- Applicaton Process Video For Informaton Technology -->
  <div align="center">
  <h4>How do I apply for the Information Technology Internship (ITEC 4900) program?</h4>
  <p class="text-sm-left">Learn how to apply to the Information Technology Internship (ITEC 4900) program by watching this video!</p>
  <iframe src="https://drive.google.com/file/d/1Q6Q2UHIybkjaLFFLyCcx-V_wF3fgEvJb/preview" width="640" height="480" allowfullscreen></iframe>
  </div>

  <hr/>

  <!-- Applicaton Process Video For Biology  -->
   <div align="center">
  <h4>How do I apply for the Biology Internship (BIO 4800) program?</h4>
  <p class="text-sm-left">Learn how to apply to the Biology Internship (BIO 4800) program by watching this video!</p>
  <iframe src="https://drive.google.com/file/d/1uyixS-MMCEbJyvpjKkLNqcUP_R_UwSth/preview" width="640" height="480" allowfullscreen></iframe>
  </div>

  <hr/>

  <!-- Feature Edit Profile  -->
   <div align="center">
  <h4>How do I edit my profile?</h4>
  <p class="text-sm-left">Learn how to edit your profile by watching this video!</p>
 <iframe src="https://drive.google.com/file/d/1it5cmVyjxwXuvA6K4nje79oysu7VOYXj/preview" width="640" height="480" allowfullscreen></iframe>
  </div>

  <hr/>

  <!-- ITEC Upload Process -->
   <div align="center">
  <h4>How do I upload the required files for the Information Technology Internship (ITEC 4900) program?</h4>
  <p class="text-sm-left">Learn how to upload the required files for the Information Technology Internship (ITEC 4900) program by watching this video!</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/h_ox6pALtPI" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

 <!-- Edit Application -->
   <div align="center">
  <h4>How do I edit my submitted applications?</h4>
  <p class="text-sm-left">Learn how to edit your submitted applications by watching this video!</p>
  <iframe src="https://drive.google.com/file/d/1EYdaELnV2UEwlcZxnNo5WP9SHjhwpuT8/preview" width="640" height="480" allowfullscreen></iframe>
  </div>

  <hr/>

  <h4>See the <a href="/faq">FAQ page</a> for additional help</h4>
  </br>
  </br>

</div>

<% include partials/footerimports %>
</body>
</html>