<!-- views/faq.ejs -->
<!doctype html>
<html>
<head>
    <title>Help</title>

<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">
 <h2>Help</h2>
  </br>
  </br>
  
  <hr/>


  <!-- Applicaton Process Video For Informaton Technology -->
  <div align="center">
  <h4>How to Apply for Inforamtion Technology Internship</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Apply For Inforamtion Technology Internship</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/OuM5mHHMCfk" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <!-- Applicaton Process Video For Biology  -->
   <div align="center">
  <h4>How to Apply for Biology Internship</h4>
  <p class="text-sm-left">This Video Will Show You How To Appropiatly Apply For Biology Internship</p>
  <iframe width="800" height="400" src="https://www.youtube.com/embed/jZI5rq5hRgY" frameborder="0" allowfullscreen></iframe>
  </iframe>
  </div>

  <hr/>

  <h4>Please Check Out Frequenly Asked Questings By Clicking <a href="/faq">HERE</a> If The Video Was Not Helpful.</h4> 
  </br>
  </br>

</div>

<% include partials/footerimports %>
</body>
</html>


