<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>GGC Internship Application</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> GGC Internship Application</h1>

        <p>Login or Signup</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
<p align="center"><a href="/faq">FAQ</a></p>
</div>
<% include partials/footerimports %>
</body>
</html>
