<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>GGC Internship Application</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">

    <div class="jumbotron text-center">
      <img src="/images/SST_crest_small.jpg" alt="SST Crest" style="width:200px;height:200px;">
        <h1> GGC Internship Application</h1>

        <p>Login or Signup</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>
<p align="center"><a href="/faq">FAQ</a></p>
</div>
<% include partials/footerimports %>
</body>
</html>
