<!-- views/itec.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>ITEC Application</title>
      <% include partials/headerimports %>  
      <style>
      .glyphicon 
        {
          font-size: 25px;
        }
      </style>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
      <div class="col-sm-10 col-sm-offset-1">
      <br>
      <h1 align="center">ITEC Internship application</h1>
      <h4 align="center">Upon Receipt of the application, Dr. Pollacia will contact you to schedule
         an appointment.<br><br>
         Information will be used to determine if you will be accepted to participate in
         the internship program. Completion of this application does not guarantee your
         acceptance into the internship program and/or enrollment in ITEC 4900.
      </h4>
      <br>
      <form name="itec" action="/itec" method="post" class="form-horizontal" _lpchecked="1" onsubmit="myFunction()">
         <fieldset>
            <h2 align = "center">Student Academic Information</h2>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="semesterList" name="proposedinternsemester">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" id="yearList" name="proposedinternyear" required type="number">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Expected Graduation Date</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="select" name="expectedGraduationSemester">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control yearSelect" name="expectedGraduationYear">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC Concentration</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="major" name="major">
                        <option value="Select">Select</option>
                        <option value="Enterprise Systems">Enterprise Systems</option>
                        <option value="Software Development">Software Development</option>
                        <option value="Systems and Security">Systems and Security</option>
                        <option value="Digital Media">Digital Media</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Student Classification</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="classificiationList" name="classification">
                        <option value="Select">Select</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Overall GPA</label>
               <div class="col-lg-5">
                  <input class="form-control validateGPA" rows="3" id="gpaTxt" name="gpa" type="number" min=1 max=4 placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01" required>
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">ITEC Major GPA</label>
               <a target="_blank">
               <i class="glyphicon glyphicon-question-sign" title="You can find your ITEC Major GPA by navigating to your Degree Works and locating your GPA under "Major in Info Tech" section." data-toggle="tooltip"></i></a>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="itecGPATxt" name="itecgpa"  type="number"  min=1 max=4  placeholder="Decimal" pattern="/^[0-4][.][0-9][0-9]$/" step="0.01" required>
               </div>
            </div>
            <br>
            <h3 align="center">
               Please list the semester you have completed these pre-requisite courses
            </h3>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 2150: Intermediate Programming</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="2150Sem" name="itec2150">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control pastAndFutureYearSelect" name="itec2150Year" id="2150Year">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3100: Introduction to Networks</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="3100Sem" name="itec3100">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control pastAndFutureYearSelect" name="itec3100Year" id="itec3100Year">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3200: Introduction to Databases</label>
                  <div class="col-lg-5" class>
                     <select class="form-control select" id="3200Sem" name="itec3200">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control pastAndFutureYearSelect" name="itec3200Year" id="itec3200Year">
                     </select>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">ITEC 3900: Professional Practice and Ethics</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" id="3900Sem" name="itec3900">
                        <option value="Select">Select</option>
                        <option value="Fall">Fall</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                     </select>
                     <select class="form-control pastAndFutureYearSelect" name="itec3900Year" id="itec3900Year">
                     </select>
                  </div>
               </div>
            </div>
            <br>
            <h3 align="center">
               Emergency Contact Information
            </h3>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Name of Emergency Contact</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecNameTxt" name="emergencycontactname" placeholder="Name" pattern="[A-Za-z].{2,}" required title=" Example: George" type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mailing address</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecAddressTxt" name="emergencycontactaddress"  placeholder="Address" title=" Example: 1227 Rosecliff"  type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact City</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecCityTxt" name="emergencycontactcity" placeholder="City" pattern="[A-Za-z].{1,}"  title=" Example: Atlnata" type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact State</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecState"name="emergencycontactstate" placeholder="State" pattern ="[A-Z]{2}" title=" Example: GA" type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact Zip Code</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecZipCodeTxt" name="emergencycontactzipcode"  placeholder="Zip Code" pattern="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Contact Phone Number</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="ecPhoneTxt" pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx" name="emergencycontactphone" placeholder="XXX-XXX-XXXX"  required type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="inputEmail" class="col-lg-5 control-label">Contact Email Address</label>
               <div class="col-lg-5">
                  <input type="email" class="form-control" id="ecEmailTxt" name="emergencycontactemail" placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"  style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
               </div>
            </div>
            <br>
            <h3 align="center">
               Mentor Information
            </h3>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Name</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorNameTxt" name="mentorname" placeholder="Name" pattern="[A-Za-z].{2,}" required title=" Example: Brannock"  required type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Cell Phone Number</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorPhoneTxt" name="mentorcellphone" placeholder="XXX-XXX-XXXX" pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx" required type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Mentor Office Location</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="mentorOfficeTxt" name="mentoroffice" placeholder="Ex: H-3241" title="Example: H-3241" required type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="inputEmail" class="col-lg-5 control-label">Mentor Email</label>
               <div class="col-lg-5">
                  <input type="text" class="form-control" id="mentorEmailTxt" name="mentoremail" placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
               </div>
            </div>
            <br>
            <h3 align="center">
               Student internships interests and goals
            </h3>
            <div class="form-group">
               <label for="textArea" class="col-lg-5 control-label">Decribe your major interests and strengths</label>
               <div class="col-lg-5">
                  <textarea class="form-control" rows="5" name="interestsandstrengths" id="textArea"></textarea>
               </div>
            </div>
            <div class="form-group">
               <label for="textArea" class="col-lg-5 control-label">What type of internship are you looking for, such as software development, security, SAP, databse, etc</label>
               <div class="col-lg-5">
                  <textarea class="form-control" rows="5" id="interestTxt" name="typeofinternship"></textarea>
               </div>
            </div>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Are you interested in an internship focused mainly on Programming and Software Development?</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" name="focusonsoftdev" id="softwareDevList">
                        <option value="Select">Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                     </select>
                  </div>
               </div>
            </div>
            <br>
            <h3 align="center">
               Internship Information
            </h3>
            <div class="form-group">
               <div class="form-inline">
                  <label for="select" class="col-lg-5 control-label">Do you have a proposed internship with a company or organization?</label>
                  <div class="col-lg-5" class>
                     <select class="form-control" name="haveproposedintern" id="proposedList">
                        <option value="No">Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                     </select>
                  </div>
               </div>
            </div>
            <br>
            <div class="existing">
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Name of Organization</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgNameTxt" name="proposedorgname" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Focus (software development, security, networking, etc)</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="focusTxt" name="itecfocus" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Street Address</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgAddressTxt" name="proposedorgaddress" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization City</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgCityTxt" pattern="[A-Za-z].{1,}"  title=" Example: Atlnata" name="proposedorgcity" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization State</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgStateTxt" name="proposedorgstate" pattern="[A-Z]{2}" title="Invalid format ex: GA" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Zip Code</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgZipTxt" name="proposedorgzipcode" pattern="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Organization Phone Number</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgPhoneTxt" name="proposedorgphone" pattern="\d{3}[\-]\d{3}[\-]\d{4}" title="Please follow the format: xxx-xxx-xxxx" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-5 control-label">Internship Manager</label>
                  <div class="col-lg-5">
                     <input class="form-control" rows="3" id="orgManagerTxt" name="proposedorgmanager" type="text">
                  </div>
               </div>
               <div class="form-group">
                  <label for="inputEmail" class="col-lg-5 control-label">Manager Email</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="managerEmail" placeholder="Email" pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
                  </div>
               </div>
               <h3 align="center">
                  Potential Student Employment Conflicts
               </h3>
               <div class="form-group">
                  <div class="form-inline">
                     <label for="select" class="col-lg-5 control-label">Are you currently employed at this potential internship site?</label>
                     <div class="col-lg-5" class>
                        <select class="form-control" name="isemployedatsite" id="isEmployedList">
                           <option value="Select">Select</option>
                           <option value="Yes">Yes</option>
                           <option value="No">No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="employed">
                  <div class="form-group">
                     <label for="input" class="col-lg-5 control-label">What is your current position?</label>
                     <div class="col-lg-5">
                        <input class="form-control" rows="3" id="currentPositionTxt" name="employedcurrentposition" type="text">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Is this a paid position?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="isPaidList" name="ispaidposition">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="input" class="col-lg-5 control-label">What is your current average work hours in a week?</label>
                     <div class="col-lg-5">
                        <input class="form-control" rows="3" id="workHoursTxt" name="numberofhoursworked" type="text">
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Will this internship represent a substantial project to be completed, seperate from your normal work duties?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="separateProjectList" name="isseparateproject">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-inline">
                        <label for="select" class="col-lg-5 control-label">Are you willing to complete your internship hours at a seperate time from your normal work hours?</label>
                        <div class="col-lg-5" class>
                           <select class="form-control" id="separateHoursList" name="isseparatehours">
                              <option value="Select">Select</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <h3 align="center">
               Signature and Review
            </h3>
            <h4 align="center">
               I certify that the information contained in this application is true, correct, and complete. I understand that false statements reported on this application may be considered sufficient cause for denial of internship.
            </h4>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Signature of applicant</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="signatureTxt" name="signature" required type="text">
               </div>
            </div>
            <div class="form-group">
               <label for="input" class="col-lg-5 control-label">Print name of applicant</label>
               <div class="col-lg-5">
                  <input class="form-control" rows="3" id="printedTxt" name="printedname" onkeyup="checkPass(); return false;" required="" type="text">
               </div>              
            </div>
         </fieldset>
         <div align="center">
            <button class="btn btn-success" type="submit" id="submitBtn">Submit</button>
         </div>
      </form>
      <% include partials/footerimports %>
   </body>
</html>
   <script>
   $('.existing').hide();
   $(function(){
       $('#proposedList').change(function(){
          var opt = $(this).val();
           if(opt == 'Yes'){
               $('.existing').show();
           }else{
           	$('.existing').hide();
             $('.employed').hide();
             document.getElementById('isEmployedList').value="Select";
           }
       });
   });

   $('.employed').hide();
   $(function(){
       $('#isEmployedList').change(function(){
          var opt = $(this).val();
           if(opt == 'Yes'){
               $('.employed').show();
           }else{
           	$('.employed').hide();
           }
       });
   });


//Verfy input signature vs name
$(function () {
        $("#submitBtn").click(function () {
            var signature = $("#signatureTxt").val();
            var name = $("#printedTxt").val();
            if (signature != name) {
                alert("Please Make Sure Your Name and Signature Match");
                return false;
            }
            return true;
        });
    });


</script>
