<!-- views/itec.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>GGC ITEC Internship Application</title>
    <link href=
    "//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel=
    "stylesheet"><!-- load bootstrap css -->
    <link href=
    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    rel="stylesheet"><!-- load fontawesome -->

    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>ITEC Intership application</h1>
            <h4>(1). Submit a printed, typed, and completed form and attach a
            printed copy of your resume.<br>
            <br>
            (2). Submit to Dr. Lissa Pollacia's office, Building C, Office
            2239.<br>
            <br>
            (3). Upon Receipt of the application, Dr. Pollacia will contact you
            to schedule an appointment.<br>
            <br>
            Information will be used to determine if you will be accepted to
            participate in the internship program. Completion of this
            application does not guarantee your acceptance into the internship
            program and/or enrollment in ITEC 4900.</h4>
            <div class="form-group">
                <label>Proposed Internship Semester <select>
                    <option value="proposedfall">
                        Fall
                    <option value="proposedspring">
                        Spring
                    </option>
                    <option value="proposedsummer">
                        Summer
                    </option>
                  </select> </label></label>
                </div><label></label>

                <div class="form-group">
                    <label>Proposed Internship Semester Year
                      <select><option value="proposedsem1"><%= new Date().getFullYear() %></option>
                      <option value="proposedsem2"><%= new Date().getFullYear()+1 %></option></select>
                    </label>
                    </div><label></label>

            <div class="form-group">
                <label><label>Expected Internship Semester <select>
                    <option value="expectedfall">
                        Fall
                    </option>
                    <option value="expectedspring">
                        Spring
                    </option>
                    <option value="expectedsummer">
                        Summer
                    </option>

                </select> </label></label>
            </div><label></label>

            <div class="form-group">
                <label>Expected Internship Semester Year<select>
                  <option value="expectedsem1"><%= new Date().getFullYear() %></option>
                  <option value="expectedsem2"><%= new Date().getFullYear()+1 %></option>
                </select>  </label></label>
                </div><label></label>


            <div class="form-group">
                <label><label>ITEC Concentration <select>
                    <option value="interprise systems">
                        Enterprise Systems
                    </option>
                    <option value="software development">
                        Software Development
                    </option>
                    <option value="systems and security">
                        Systems and Security
                    </option>
                    <option value="digital media">
                        Digital Media
                    </option>
                </select> </label></label>
            </div><label></label>
            <div class="form-group">
                <label><label>Student Classification<select>
                    <option value="junior">
                        Junior
                    </option>
                    <option value="senior">
                        Senior
                    </option>
                </select> </label></label>
            </div><label></label>
            <div class="form-group">
                <label><label>Overall GPA</label> <input class="form-control"
                name="ogpa" required="" type="text"></label>
            </div>
            <div class="form-group">
                <label>ITEC Major GPA</label> <input class="form-control"
                name="itecgpa" required="" type="text">
            </div>
            <h4>Please list the semester you have completed these pre-requisite
            courses in the format of SEMESTER YEAR</h4>
            <div class="form-group">
                <label>ITEC 2150: Intermediate Programming</label>
                <input class="form-control" name="itec2150" required="" type=
                "text">
            </div>
            <div class="form-group">
                <label>ITEC 3100: Introduction to Networks</label>
                <input class="form-control" name="itec3100" required="" type=
                "text">
            </div>
            <div class="form-group">
                <label>ITEC 3200: Introduction to Databases</label>
                <input class="form-control" name="itec3200" required="" type=
                "text">
            </div>
            <div class="form-group">
                <label>ITEC 3900: Professional Practice and Ethics</label>
                <input class="form-control" name="itec3900" required="" type=
                "text">
            </div>
            <h2>Mentor Information</h2>
            <div class="form-group">
                <label>GGC Mentor Name</label> <input class="form-control"
                name="itecmentorname" required="" type="text">
            </div>
            <div class="form-group">
                <label>GGC Cellphone number</label> <input class="form-control"
                name="itecggccellphone" required="" type="text">
            </div>
            <div class="form-group">
                <label>GGC Email Address</label> <input class="form-control"
                name="itecmentoremail" required="" type="text">
            </div>
            <div class="form-group">
                <label>GGC Office Location</label> <input class="form-control"
                name="itecmentoroffice" required="" type="text">
            </div>
            <h4>Student internships interests and goals</h4>
            <div class="form-group">
                <label>Decribe your major interests and strengths:</label>
                <form action="action_page.php">
                    <textarea cols="34" name="message" rows="8"></textarea><br>
                </form>
            </div>
            <div class="form-group">
                <label>What type of internship are you looking for, such as
                software development, security, SAP, databse, etc:</label>
                <form action="action_page.php">
                    <textarea cols="34" name="message" rows="8"></textarea><br>
                </form>
            </div>
            <div class="form-group">
                <label>Are you interested in an internship focused mainly on
                Programming and Software Development?<select>
                  <option value="Select">
                      Select
                  </option>
                    <option value="internquestionyes">
                        Yes
                    </option>
                    <option value="internquestionno">
                        No
                    </option>
                </select> </label>
            </div><label></label>
            <h3><label>Emergency Contact Information</label></h3>
            <div class="form-group">
                <label><label>Name of Contact</label> <input class=
                "form-control" name="iteccontact" required="" type=
                "text"></label>
            </div>
            <div class="form-group">
                <label>Mailing address</label> <input class="form-control"
                name="iteccontactmail" required="" type="text">
            </div>
            <div class="form-group">
                <label>Contact Preferred Email Address</label> <input class=
                "form-control" name="iteccontactemail" required="" type=
                "text">
            </div>
            <div class="form-group">
                <label>Contacts City</label> <input class="form-control" name=
                "iteccontactcity" required="" type="text">
            </div>

            <div class="form-group">
                <label><label>Contacts Zip Code</label> <input class="form-control"
                name="iteccontactzip" required="" type="text"></label>
            </div>
            <div class="form-group">
                <label>Contacts Telephone Number</label> <input class="form-control"
                name="iteccontactphone" required="" type="text">
            </div>
            <h3>Internship Information</h3>
            <div class="form-group">
                <label>Do you have a proposed internship with a company or
                organization?<select>
                  <option value="Select">
                      Select
                  </option>
                    <option value="proposedinteryes">
                        Yes
                    </option>
                    <option value="proposedinternno">
                        No
                    </option>
                </select></label>
            </div><label></label>
            <h4><label>If you selected yes, please fill out the intership
            information below, otherwise skip to the next section of the
            application (Potential Student Employment Conflicts)</label></h4>
            <div class="form-group">
                <label><label>Name of Organization</label> <input class=
                "form-control" name="itecorg" type="text"></label>
            </div>
            <div class="form-group">
                <label>Focus (software development, security, networking,
                etc)</label> <input class="form-control" name="itecfocus"
                type="text">
            </div>
            <div class="form-group">
                <label>Proposed Organizations Street Address</label> <input class="form-control" name=
                "itecorgaddress" type="text">
            </div>
            <div class="form-group">
                <label>Proposed Organizations City</label> <input class="form-control" name=
                "itecorgcity" type="text">
            </div>

            <div class="form-group">
                <label><label>Proposed Organization Zip Code</label> <input class="form-control"
                name="iteczipcode" type="text"></label>
            </div>
            <div class="form-group">
                <label>Proposed Organizations Telephone Number</label> <input class="form-control"
                name="itecorgtele" type="text">
            </div>
            <div class="form-group">
                <label>Name of Internship Manager</label> <input class=
                "form-control" name="itecorgmanager" type="text">
            </div>
            <h3>Potential Student Employment Conflicts</h3>
            <div class="form-group">
                <label>Are you currently employed at this potential internship
                site?<select>
                  <option value="Select">
                      Select
                  </option>
                    <option value="employedyes">
                        Yes
                    </option>
                    <option value="employedno">
                        No
                    </option>
                </select></label>
            </div><label></label>
            <h3><label>If yes, please fill out the informaion below. If no,
            then skip this portion of the application and go to the signature
            and review portion at the bottom.</label></h3>
            <div class="form-group">
                <label><label>What is your current postition?</label>
                <input class="form-control" name="itecorgposition" type=
                "text"></label>
            </div>
            <div class="form-group">
                <label>Is this a paid position?<select>
                  <option value="Select">
                      Select
                  </option>
                    <option value="paidyes">
                        Yes
                    </option>
                    <option value="paidno">
                        No
                    </option>
                </select> </label>
            </div><label></label>

            <div class="form-group">
                <label>What is your current average work hours in a
                week?</label> <input class="form-control" name="itecorghours"
                type="text">
            </div>
            <div class="form-group">
                <label>Will this internship represent a substantial project to
                be completed, seperate from your normal work duties?<select>

                  <option value="Select">
                      Select
                  </option>
                    <option value="projectyes">
                        Yes
                    </option>
                    <option value="projectno">
                        No
                    </option>
                </select> </label>
            </div><label></label>
            <div class="form-group">
                <label><label>Are you willing to complete your internship hours
                at a seperate time from your normal work hours?<select>
                  <option value="Select">
                      Select
                  </option>
                    <option value="seperateyes">
                        Yes
                    </option>
                    <option value="seperateno">
                        No
                    </option>
                </select> </label></label>
            </div><label></label>
            <h4><label>Signatures and Review</label></h4>
            <p><label><strong>I certify that the information contained in this
            application is true, correct, and complete. I understand that false
            statements reported on this application may be considered
            sufficient cause for denial of
            internship.</strong></label></p><label><br></label>
            <div class="form-group">
                <label><label>Signature of applicant</label> <input class=
                "form-control" name="itecsignature" type="text"></label>
            </div>
            <div class="form-group">
                <label>Print name of applicant</label> <input class=
                "form-control" name="itecsignatureprint" required="" type=
                "text">
            </div>
            <div class="form-group">
                <label>Date</label>
                <p id="demo"></p>
                <script>
                document.getElementById("demo").innerHTML = Date();
                </script>

            <form action="itec.js">
            </div><button class="btn btn-warning btn-lg" type=
            "submit">Submit</button>

            <!-- Script for printing page at bottom -->
             <button class="btn btn-warning btn-lg" onclick="myPrint()">Print
            this page</button>
            <script>
            function myPrint() {
            window.print();
            }
            </script>
            <!-- script for uploading files to page -->

        </div>
    </div>
</body>
</html>
