<!-- views/itec.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>GGC ITEC Internship Application</title>
    <% include partials/headerimports %>
</head>

<body>
<% include partials/nav.ejs %>
<div class="container">
    <!--<div class="col-sm-6 col-sm-offset-3">-->
    <div class="col-sm-10 col-sm-offset-1">
    <br>
        <h1 align="center">ITEC Internship application</h1>
        <h4 align="center">Upon Receipt of the application, Dr. Pollacia will contact you to schedule 
        an appointment.<br><br>
        Information will be used to determine if you will be accepted to participate in 
        the internship program. Completion of this application does not guarantee your 
        acceptance into the internship program and/or enrollment in ITEC 4900.</h4>
        <br>
<form name="itec" action="/itec" method="post" class="form-horizontal" _lpchecked="1">
  <fieldset>
  
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="select" class="col-lg-5 control-label">Desired Internship Semester and Year</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Enterprise Systems</option>
          <option>Software Development</option>
          <option>Digital Media</option>
          <option>Systems and Security</option>
        </select>
        </div>
      </div>
      
      <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Expected Graduation Date</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
          <option>2020</option>
          <option>2021</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">GPA</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">ITEC Major GPA</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <h3 align="center">
    Please list the semester you have completed these pre-requisite courses
    </h3>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">ITEC 2150: Intermediate Programming</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">ITEC 3100: Intorduction to Networks</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">ITEC 3200: Intorduction to Databases</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">    ITEC 3900: Professional Practice and Ethics
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Fall</option>
          <option>Spring</option>
          <option>Summer</option>
        </select>
        <select class="form-control" id="select">
          <option>2010</option>
          <option>2011</option>
          <option>2012</option>
          <option>2013</option>
          <option>2014</option>
          <option>2015</option>
          <option>2016</option>
          <option>2017</option>
        </select>
        </div>
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Emergency Contact Information
    </h3>
     
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Name of Parent or Legal Guardian</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mailing address</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact City</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact State</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact Zip Code</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Contact Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div> 
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Preferred Email Address</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Mentor Information
    </h3>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Name</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Cell Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Mentor Office Location</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Mentor Email</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Student internships interests and goals
    </h3>
    
    <div class="form-group">
      <label for="textArea" class="col-lg-5 control-label">Decribe your major interests and strengths</label>
      <div class="col-lg-5">
        <textarea class="form-control" rows="5" id="textArea"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="textArea" class="col-lg-5 control-label">What type of internship are you looking for, such as software development, security, SAP, databse, etc</label>
      <div class="col-lg-5">
        <textarea class="form-control" rows="5" id="textArea"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">    Are you interested in an internship focused mainly on Programming and Software Development?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Internship Information
    </h3>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">    Do you have a proposed internship with a company or organization?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    <br>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Name of Organization</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Focus (software development, security, networking, etc)</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Organization Street Address</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Organization City</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Organization State</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Organization Zip Code</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Organization Phone Number</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Internship Manager</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputEmail" class="col-lg-5 control-label">Manager Email</label>
      <div class="col-lg-5">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" autocomplete="off">
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Potential Student Employment Conflicts
    </h3>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Are you currently employed at this potential internship site?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">What is your current position?</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Is this a paid position?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">What is your current average work hours in a week?</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Will this internship represent a substantial project to be completed, seperate from your normal work duties?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="form-inline">
      <label for="select" class="col-lg-5 control-label">Are you willing to complete your internship hours at a seperate time from your normal work hours?
</label>
      
      <div class="col-lg-5" class>
        <select class="form-control" id="select">
          <option>Yes</option>
          <option>No</option>
        </select>
        </div>
      </div>
    </div>
    <br>
    
    <h3 align="center">
    Signature and Review
    </h3>
    <h4 align="center">
    I certify that the information contained in this application is true, correct, and complete. I understand that false statements reported on this application may be considered sufficient cause for denial of internship.
    </h4>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Signature of applicant</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
    
    <div class="form-group">
      <label for="input" class="col-lg-5 control-label">Print name of applicant</label>
      <div class="col-lg-5">
        <input class="form-control" rows="3" id="textArea">
      </div>
    </div>
  </fieldset>
</form>
</body>
</html>