 <!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Reset Password</title>
<% include partials/headerimports %>
</head>
<body>
    <% include partials/nav.ejs %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

 <h1><span class="fa fa-sign-in"></span> Reset Password</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form name="signup" method="post">
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="passwordTxt" name="password"   required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="confirmedPasswordTxt" name="confirmpassword"   required>
        </div>
        <button type="submit" class="btn btn-warning btn-lg" id="resetBtn">Reset Password</button>
    </form>
</div>
</div>
<% include partials/footerimports %>
</body>
</html>