<!-- views/reset.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Password Reset</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
            <% include partials/snackBar.ejs %>
      <div class="container">
         <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Reset Password</h1>
            <!-- LOGIN FORM -->
            <form name="signup" method="post">
               <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" id="passwordTxt" name="password"   required>
               </div>
               <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control" id="confirmedPasswordTxt" name="confirmpassword"   required>
               </div>
               <button type="submit" class="btn btn-success btn-lg" id="resetBtn">Reset Password</button>
            </form>
         </div>
      </div>
      <% include partials/footerimports %>
   </body>
</html>