<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
   <head>
      <meta charset='utf-8'>
      <title>Signup</title>
      <% include partials/headerimports %>
   </head>
   <body>
      <% include partials/nav.ejs %>
      <div class="container">
         <div align="center">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>
            <% include partials/flashMessages %>
            <!-- LOGIN FORM -->
            <form name="signup" action="/signup" onsubmit="return validateForm()" id="signupForm" method="post" class="form-horizontal">
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Email</label>
                  <div class="col-lg-5">
                     <input type="email" class="form-control" id="emailTxt" name="email" pattern="[A-Za-z0-9._]*@ggc.edu" title="Must be a @ggc.edu email address" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Confirm Email</label>
                  <div class="col-lg-5">
                     <input type="email" class="form-control" id="cfmEmailTxt" name="cfmEmail" pattern="[A-Za-z0-9._]*@ggc.edu" title="Must be a @ggc.edu email address" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Password</label>
                  <div class="col-lg-5">
                     <input type="password" class="form-control" id="passwordTxt" name="password"   required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Confirm Password</label>
                  <div class="col-lg-5">
                     <input type="password" class="form-control" id="cfmPasswordTxt" name="cfmPassword"   required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Student ID</label>
                  <div class="col-lg-5">                                                                                  
                     <input type="text" class="form-control" id="studentIdTxt" name="studentid" minlength="9" pattern="900[0-9]{6}" title="Must begin with 900 and be at least 9 digits" required />
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">First Name</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="fnameTxt" name="fname" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Last Name</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="lnameTxt" name="lname" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Phone Number</label>
                  <div class="col-lg-5">
                     <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Address</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="addressTxt" name="address" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">City</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="cityTxt" name="city" pattern="[A-Za-z._]*" title="Must not contain numbers" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">State</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="stateTxt" name="state" pattern="[A-Z]{2}" title="Invalid format ex: GA" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="input" class="col-lg-4 control-label">Zip Code</label>
                  <div class="col-lg-5">
                     <input type="text" class="form-control" id="zipTxt" name="zipcode" pattern="\d{5}([ \-]\d{4})?" title="Not a valid zipcode" required>
                  </div>
               </div>
               <button type="submit" class="btn btn-success" id="signupBtn">Signup</button>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
         </div>
      </div>
      <% include partials/footerimports %>
      <script>
      $(document).ready(function() {
        $("#signupForm").validate({
            rules: {
                cfmPassword: {
                    equalTo: "#passwordTxt"
                },
                cfmEmail: {
                    equalTo: "#emailTxt"
                }
            },
            messages: {
                cfmPassword: {
                    equalTo: "Your passwords must match."
                },
                cfmEmail: {
                    equalTo: "Your emails must match."
                }
            },
            submitHandler: function(form) {
                form.submit();
            }
        });
      });

      </script>
   </body>
</html>