    <!doctype html>
<html>
<head>
<% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>

<div class="container">
<h3>Site Notes</h3>
    <table class="col-sm-3 col-sm-offset-3">
    <table class="table table-bordered"  >
    <thead>
        <tr>
            <th>Site Name</th>
			<th>Visit Date</th>
            <th>Note Created By</th>
			<th>Entered On Date</th>
            <th>Additional Information</th>
        </tr>
    </thread>
    <tbody>
    <!-- siteList is from sitenotes.js where u name  it what ever u want as
    long it was assigne dto database "sites" to be able to see -->
    <!-- sou are looping all from siteList just a random name "site"-->
     <!-- then if the "site (random name). (array) notes. length  if it dose not have antything 
      i want u to show-->
       <!-- site(random).notes(array).foreach (note(single array in notes)-->
       <!--site.name means it is in inisall array vs
       note.author(noteText) is what we created in second array-->
        <% siteList.forEach(function(site) { %>
        <%  if(site.notes.length != 0) { %>
        <% site.notes.forEach(function(note) { %>
        <tr>
            <td><%= site.name %></td> 
			<td><%= note.visitDate %></td>
            <td><%= note.author %></td> 
            <td><%= note.noteDate %></td>
        </tr>
       
        <%  }) }}); %>
        
    </tbody>
    </table>
</div>

<div class="container">
    <!--<form name="addsitenotes" method="post">
            <div class="form-group">
                <label>Enter Company Name </label>
                <input type="text" class="form-control" name="siteName" required>
            </div>
           
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="noteText" >
            </div>-->
        <div align="center">
            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Note</button>
		</div>
    <!--</form>-->
</div>




<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Site Note</h4>
        </div>
        <div class="modal-body">
			<form name="addsitenotes" method="post" class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-5 control-label">Site Name</label>
					
					<select class="form-control siteSelect" class="col-lg-5" name="siteName" required>
					</select>
				</div>
           
				<div class="form-group">
					<label class="col-lg-5 control-label">Discussed Topics</label>
					<textarea class="col-lg-5 control-label" class="form-control" name="coveredTopics" rows="4" id="interns"></textarea>
				</div>
				
				<div class="form-group">
					<label class="col-lg-5 control-label">Desired Types of Interns</label>
					<textarea class="col-lg-5 control-label" class="form-control" name="coveredTopics" rows="4" id="interns"></textarea>
				</div>
				
				<div class="form-group">
					<label class="col-lg-5 control-label">Visit Made By</label>
					<input type="text" class="col-lg-5" class="form-control" name="noteText" >
				</div>
				
				<div class="form-group">
					<label class="col-lg-5 control-label">Visit Location</label>
					<input type="text" class="col-lg-5" class="form-control" name="noteText" >
				</div>
				
				<div class="form-group">
					<label class="col-lg-5 control-label">Visit Date</label>
					<input type="text" class="col-lg-5" class="form-control" name="noteText" >
				</div>
			</form>
        </div>
        <div class="modal-footer">
			<button type="submit" class="btn btn-success">Save</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>




<% include partials/footerimports %>

    </body>
    
    </html>
