<!-- views/support.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Support</title>
    <% include partials/headerimports %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
    <div align="left">
        <h1 class="pageTitle">Have Questions?</h1>
        <br>
        <div class="fullname">
            <h3>Dr. Lissa Pollacia - IT</h3>
        </div>
        <p class="title">Professor of Information Technology</p>
        <ul>
            <li class="office">
                <strong>Office:</strong>
                C-2239
            </li>
            <li class="mobile">
                <strong>Cell Phone:</strong>
                <a href="tel:678.989.5651" title="Call number">
                    678.656.2126</a>
            </li>
            <li class ="email">
                <strong>Email Address:</strong>
                <a href="mailto:lhammond@ggc.edu" class="rot13email" title="Email">
                    lpollaci@ggc.edu</a>
            </li>
        </ul>

            <div class="fullname">
                <h3>Dr. Latanya P. Hammonds - BIO</h3>
            </div>
            <p class="title">Associate Professor of Biology</p>
            <ul>
                <li class="office">
                    <strong>Office:</strong>
                    C-2235
                </li>
                <li class="mobile">
                    <strong>Cell Phone:</strong>
                    <a href="tel:678.989.5651" title="Call number">
                        678.989.5651</a>
                </li>
                <li class ="email">
                    <strong>Email Address:</strong>
                    <a href="mailto:lhammond@ggc.edu" class="rot13email" title="Email">
                        lhammond@ggc.edu</a>
                </li>
            </ul>
</div>

    <h3>For more information, please refer to the FAQ section in the Help menu.</h3>
<% include partials/footerimports %>
</body>
</html>