/AddSitesPage.class
/ApplicationsPage.class
/DocumentationsPage.class
/EditProfilePage.class
/FAQPage.class
/InitialPage.class
/LoginPage.class
/PageBase.class
/PromotePage.class
/ViewSitesPage.class
/DocumentsUploadPage.class
/SiteNotesPage.class
