body {
    background-image: url("../images/ggc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: .95;
}

.container{
    background-color: #d3d3d3;
}

.scrollable {
    overflow-y: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

#uploadForm1 {
    padding: .5em;
}

#uploadForm2 {
    padding: .5em;
}

#uploadForm3 {
    padding: .5em;
}

#uploadForm4 {
    padding: .5em;
}

#documentRecordsForm {
    padding: .5em;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

td {
    word-wrap: break-word;
    white-space:normal;
}

dt {
    font-size: 1.5em;
}

dd {
    padding-bottom: 1.5em;
    font-size: 1.2em;
}
