body {
    background-image: url("../images/ggc.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: .95;
}

.container{
    background-color: #d3d3d3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.scrollable {
    overflow-y: scroll;
    height: 100px;
    resize: none;  /*Remove this if you want the user to resize the textarea */
}

.otherLabel {
	float: left; width: 260px;
}
.bg-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}
.modal-contents {
	height: 645px;
	width: 600px;
	background-color: #d3d3d3;
	text-align: center;
	padding: 20px;
	position: absolute;
	border-radius: 4px;
}
input {
	margin: 15px auto;
	display: block;
	padding: 8px;
}
.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	font-weight: bold;
	color: #aaaaaa;
	float: right;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover,.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;}

#uploadForm1 {
    padding: .5em;
}

#uploadForm2 {
    padding: .5em;
}

#uploadForm3 {
    padding: .5em;
}

#uploadForm4 {
    padding: .5em;
}

#documentRecordsForm {
    padding: .5em;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

td {
    word-wrap: break-word;
    white-space: normal;
    max-width: 160px;
}

dt {
    font-size: 1.5em;
}

dd {
    padding-bottom: 1.5em;
    font-size: 1.2em;
}

.help h4 {
    font-size: 2.5em;
}

.help p {
    font-size: 1.5em;
}

.help h2 {
    font-size: 3em;
}

.pageTitle {
    text-align: center;
    font-size: 3em;
}

.pageDescription {
    text-align: center;
    font-size: 1.5em;
}

.filters {
    width: 100%
}

.filter1 {
    float: left;
    width: 40%
}

.filter2 {
    float: right;
    width: 40%
}

.rounded-solid-padded-borders {
    border: 5px solid #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-dotted-padded-borders {
    border: 5px dotted #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-dashed-padded-borders {
    border: 5px dashed #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-groove-padded-borders {
    border: 5px groove #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-ridge-padded-borders {
    border: 5px ridge #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-inset-padded-borders {
    border: 5px inset #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}

.rounded-outset-padded-borders {
    border: 5px outset #38b013;
    border-radius: 20px;
    padding: 20px 20px 5px;
}
